

.down-arrow{
    animation: arrow 1s ease-out 1s infinite normal;
    position: relative;
}


@keyframes arrow{
    0%{
        opacity: 0;
        top:0;
    }
  
    100%{
        opacity: 1;
        top:10px;
    }
}