.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    top:0;
    z-index: 1;
  }

  .tooltip:hover{
      
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }